* {
	padding: 0;
	margin: 0;
}


body {
    background-color: #FFFFFF;
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    color: #222222;
}

div {
	width: 100%;
}

header {
    background-color: #FFFFF;
    padding: 20px;
    width: 100%;
}

#two_column {
	background-color: #FFFFFF;
	padding: 20px;
}

#left {
	background-color: #FFFFFF;
	padding: 20px;
	float: left;
	width: 30%;
}

#right {
	background-color: #FFFFFF;
	padding: 20px;
	float: right;
}

.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}

nav a {
	background-color: #FFFFFF;
    padding: 1.25em;
    font-family: 'Lato', sans-serif;
	color: #9B5383;
	margin-right: 10px;
	font-size: .875em;
	font-style: bold;
}

article {
	background-color: #FFFFFF;
    border: 1px white solid;
    padding: 20px;
}

section {
	background-color: #FFFFFF;
    padding: 20px;
}

h1 {
	font-size: 1.875em;
	color: #353054;
	font-style: bold;
	margin-bottom: 20px;
}

h2 {
	font-size: 1.5em;
	color: #353054;
	margin-bottom: 20px;
}

h3 {
	font-size: 1.125em;
	color: #353054;
	margin-bottom: 10px;
	margin-top: 20px;
}

p, ul {
	font-family: 'Crimson Text', serif;
	font-size: 1em;
}


ul, ol {
	padding-left: 20px;
}

img {
	max-width: 100%;
}

main {
	padding: 20px;
}

footer p{
	background-color: #d3d3d3;
    border: 1px white solid;
    padding: 20px;
	text-align: center;
	font-size: .625em;
	color: #222222;
}

#splash {
	background: url(../images/brittonthebeach2.jpg);
	/* background-color:aquamarine; */
	width: 100%;
	height:auto;
	padding: 1.25em;
}

#slogan {
	 font-style: italic;
}

.logo {
	font-family: 'Lato', sans-serif;
	font-size: 1.125em;
	color: #3F184E;
}

@media only screen and (max-width: 837px) {
  nav a {
  	float: none;
      margin: 0 .75em .75em 0;
  }
}

@media only screen and (max-width: 490px) {

#left, #right {
	float:none;
	text-align: center;
}

#left {
	width: 100%;
	padding: 0px;
}

.logo {
	font-family: 'Lato', sans-serif;
	font-weight: bold;
	font-size: 1.5em;
	color: #3F184E;
}

#two_column {
	padding: 0px;
}

#splash {
	background: url(../images/brittonthebeach2.jpg);
	/* background-color:aquamarine; */
	width: 100%;
	height:auto;
	padding: 1.25em;
}

  h1, nav a {
    display: block;
    text-align: center;
  }
  nav a {
    margin: 1em 1em 1em;
  }
  
 section, div {
   width: 100%;
   padding: .6em;
 }

h1 {
	font-size: 1.25em;
}

h2 {
    font-size: 1em;
    display: inline;
  }
 
  p, ul {
    margin: 0 0 0;
  }
}